<!DOCTYPE html>
<html  ng-app="TrafficJam">
  <head>
    <meta charset="UTF-8">
    <title>Traffic Jam</title>   
        <link rel="stylesheet" href="public/css/style.css">
  </head>

   <script src="public/js/angular.min.js"></script>
    <script src="public/js/angular-ui-router.min.js"></script>
     <script src="public/js/app.js"></script>
  <body ng-controller="forgotPassCtrl">
    <form name="myForm" class="login-form" ng-submit="updatePass(myForm.$valid)">	
		<div class="header">
		<h1>Welcome to Traffic Jam</h1>
		<h4>Reset Password</h4>
		</div>
	
		<div class="content">
		<input  class="input username" placeholder="New Password" name="password" type="password" ng-model="formData.password" ng-minlength="6" required>
        <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
        <span ng-show="!myForm.password.$error.required && myForm.password.$error.minlength && myForm.password.$dirty">Passwords minimun length 6.</span>
		<input  class="input password" placeholder="Confirm Password"  name="password_c" type="password" ng-model="formData.password_c" id="password_c" compare-to="formData.password" required>
            <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
            <span ng-show="myForm.password_c.$dirty && !myForm.password_c.$valid">Passwords do not match.</span>		
		</div>

		<div class="footer">
		<button class="button" ng-disabled="!myForm.$valid">Submit</button>
		</div>
		 <div ui-view></div>
	</form> 
  <p>
  {{message}}
  </p>
	  <script src="public/Controller/forgotPassCtrl.js"></script>
    <script src="public/Directives/UserValidation.js"></script>
  </body>
</html>
